/* Mission Statement CSS*/

.image{
    margin-left: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission {
   position: absolute;
}

.statement{
    color: white;
    font-family: 'Outfit';
    padding-left: 50px;
    padding-right: 50px;
    font-size: min(8vw, 100px);
    max-width: 1320px;
    text-align: center;
}

/* About Us CSS */

.sectionTitle{
    color: #ffb703;
    text-align: center;
    font-family: oswald;
    font-size: min(8vw, 50px);
    padding-top: 1em;
}


p{
    color: #FEF9EF;
    text-align: justify;
    font-family: 'Outfit 500', 'Assistant', sans-serif; 
    font-size: 20px;
    max-width: min(80vw, 1200px);
    margin: auto;
    padding: 3vw 0 min(5vw, 40px) 0;
}


#aboutUs{
    background-color: #1A438B;
}

/* Our Progress CSS */

#ourProgress{
     background-color: #488FE6;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    width: min(100%, 1320px);
    padding-top: 2em;
    margin: auto;
}

.statistics {
    padding: 0em;
    margin: 0.5em auto;   
}

.statistics h4, .statistics p{
    text-align: center;
}

.statistics p {
    width: 70%;
    margin: 0 auto;
}

.statistics h4{
    color: #ffb703;
    text-align: center;
    font-family: oswald;
    font-size: 50px;
    border-radius: 100%;
    background-color: #1A438B;
    padding: 1em;
    border-color: #ffb703;
    border-style: double;
    border-width: 5px;
    width: 250px;
    height: 250px;
    
    line-height: 125%;
    margin: auto;
}

.statistics h4:hover{
        box-shadow: 0 0.5em 0.5em -0.4em;
        transform: translateY(-0.2em);
        transition: box-shadow 0.5s, transform 0.5s;
}

@media screen and (max-width: 900px){
    .row{
        grid-template-columns: repeat(1, 100%);
    }
}

* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: noto-sans;
    src: url("NotoSans-Regular.ttf");
  }
  
  @font-face {
    font-family: oswald;
    src: url("Oswald-VariableFont_wght.ttf");
  }

footer {
    width: 100%;
    height: auto;
    background-color: #4299eb;
}

#heading1{
  color: #278ce8;
}

h2 {
    color: #fafafa;
    font-family: oswald;
    padding-bottom: 8px;
    margin-left: 25px;
  }

h4 {
    color: #f89e09;
    font-family: oswald;
    text-align: center;
    padding-bottom: 10px;
    font-weight: lighter;
}

li {
  font-family: 'noto-sans';
  color: #fafafa;
}

nav {
    text-align: center;
}

.images-row {
    width: 80%;
    margin: auto;
    text-align: center;
  }

.images {
  padding: 10px;
  width: 25%;
  height: auto;
}

.image-links {
  display: inline-block;
  margin: 10px;
  width: 35px;
}

.facebook-logo {
    display: inline-block;
    margin: 10px;
    width: 35px;
    padding-bottom: 10px;
  }


  #heading1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 300%;
    font-family: oswald;
  }

  #copyright {
    color: #fafafa;
    font-family: noto-sans;
    font-size: 12px;
    margin-left: 30px;
    margin-bottom: 200px;
  }

.quoteBox {
  background-color: #1a438b;
  height: fit-content;
  width: 100%;
  padding-bottom: 4vh;
}

.quoteBox1 {
  background-color: #1a357c;
  height: fit-content;
  width: 100%;
  padding-bottom: 3vh;
}

#images-box {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
  }

.names {
  color: #f89e09;
  font-size: min(6vw, 30px);
  font-weight: bold;
  padding-top: 30px;
  font-family: oswald;
  text-align: center;
}

.quote {
  color: #fafafa;
  padding-top: 15px;
  font-family: 'noto-sans';
  width: min(90vw, 1320px);
  margin: auto;
}

.list {
  list-style: none;
}

.logo {
    height: auto;
    width: 250px;
    padding-bottom: 80px;
    padding-right: 40px;
  }

nav {
    text-align: center;
  }
   
  .footer-logo {
    display: inline-block;
  }

  .nav-div {
    display: inline-block;
    padding-right: 300px;
  }

a:link {
  text-decoration: none;
  color: #fafafa;
}

a:visited {
  color: #fafafa;
}

